:root {
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62%;
    box-sizing: border-box;
}

*, *:before, *:after {/* el * seleciona todos elementos*/
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center; /*texto centrado*/
    font-size: 3.8rem
}

.titulo span{
    font-size: 2rem;/*Hacerlo pequeño*/
}

.contenedor{
    max-width: 120rem; /*barra toma el espaco disponible si no el 100%*/
    margin: 0 auto;
}

.nav-bg{/*alargamiento de navegacion*/
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column; /*se columna se hace pequeño */
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
    }
}

.navegacion-principal a{ /*menu o enlaces*/
    display: block; /*centar el texto*/
    text-align: center; /*centar el texto*/
    color: var(--blanco);
    text-decoration: none; /*elimina el subrayado*/
    font-size: 2rem; /*tamaño de letra*/
    font-weight: 700; /*bold = negritas*/
    padding: 1rem; /*espacio de afuera hacia dentro */
}

.navegacion-principal a:hover{/*pseudo clases que inspeciona al elemento*/
    background-color: var(--primario); /*fondo amarillo de la barra*/
    color: var(--oscuro); /*hacer cambiar negro*/
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /*no repetir img cuando esta pequeña*/
    background-size: cover;/*definir el tamaño y cover toma todo el ancho*/
}