:root {
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62%;
    box-sizing: border-box;
}

*, *:before, *:after {/* el * seleciona todos elementos*/
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Krub', sans-serif;
}

h1 {
    font-size: 3.8rem
}

h2 {
    font-size: 2.8rem
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center; /*texto centrado*/
    }

.titulo span{
    font-size: 2rem;/*Hacerlo pequeño*/
}

.contenedor{
    max-width: 120rem; /*barra toma el espaco disponible si no el 100%*/
    margin: 0 auto;
}

/*boton debajo de icono CDMX*/
.boton { 
    background-color: var(--secundario); /*fondo*/
    color: var(--blanco); /*color del texto*/
    padding: 1rem 3rem; /*volumen de adentro para afuera*/
    margin-top: 1rem;/*separación ariba a bajo*/
    font-size: 2rem; /*fuente*/
    text-decoration: none; /*elimiar subrayado*/
    text-transform: uppercase; /*mayus*/
    font-weight: bold;/*texto en  negritas*/
    border-radius: .5rem; /*borde de las esquinas boton*/
    width: 90%; /*se extienda a lo largo*/
    text-align: center; /*centrado*/
}

@media (min-width: 480px) {
    .boton {
        width: auto; /*se  receta el valor de width del .boton*/
    }
}

.nav-bg{/*alargamiento de navegacion*/
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column; /*se columna se hace pequeño */
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between; /*da espacio a barra de navegacion*/
    }
}

.navegacion-principal a{ /*menu o enlaces*/
    display: block; /*centar el texto*/
    text-align: center; /*centar el texto*/
    color: var(--blanco);
    text-decoration: none; /*elimina el subrayado*/
    font-size: 2rem; /*tamaño de letra*/
    font-weight: 700; /*bold = negritas*/
    padding: 1rem; /*espacio de afuera hacia dentro */
}

.navegacion-principal a:hover{/*pseudo clases que inspeciona al elemento*/
    background-color: var(--primario); /*fondo amarillo de la barra*/
    color: var(--oscuro); /*hacer cambiar negro*/
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /*no repetir img cuando esta pequeña*/
    background-size: cover;/*definir el tamaño y cover toma todo el ancho*/
    height: 450px;
    position: relative; /*para que el  hijo se posicione de forma absoluta*/
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .7); /*anterior*/
    background-color: rgb(0 0 0 / 70%); /*no la soportan todo slo navegadores*/
    width: 100%;
    height: 100%;

    /*codigo para aplciar vertical y horizontal*/
    display: flex; /*linea horozontales*/
    flex-direction: column; /*de arriba en forma horizontal*/
    align-items: center; /*centra el  contenido abajo pero se requiere el colum*/
    justify-content: center; /*centra todo el texto*/
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco); /*color al texto*/
}


.ubicacion {
    display: flex; /*junta un con otro arriba*/ /*alineado horizontalmente*/
    align-items: flex-end;/*alinea vercalmente hacia abajo */
}
